body{
    background-color: #FFF2F2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.what{
    background-color: #A9B5DF;
    width: 1200px;
    border: 15px solid #A9B5DF;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-size: 20px;
}

.why{
    background-color: #A9B5DF;
    width: 1200px;
    border: 15px solid #A9B5DF;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-size: 20px;  
}

.when, .integral{
    background-color: #A9B5DF;
    width: 1200px;
    border: 15px solid #A9B5DF;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    font-size: 20px;  
}
